#wrapper{
  overflow-y: clip;
}
#cover{
    overflow-x: clip;
    height: 100vh;
    position: relative;
    //background-image: radial-gradient(var(--bg-dark), var(--bg-light));
    --slices: 15;
    --modifier: 20;
    --time-modifier: 20s;
    .cover-layer{
        perspective: 50px;
        width: 100vw;
        height: 100vh;
        transform-style: preserve-3d;
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            //opacity: 0;
            
            //transform: translate(-50%, -50%);
            transform-origin: center;
            will-change: transform; 
            //background-color: var(--bg-shadow);
            g{
              
              position: relative;
              //prospective: 2px;
              z-index: 0;
              path{
                
                
                
                
                //filter: drop-shadow(0 0 0.25rem var(--bg-shadow));
                //stroke: var(--bg-dark);
                
                
                //
                //
                
              }
              &.cover-layer-overlay{
                //opacity: 0;
                will-change: opacity; 
                
                
                //stroke: var(--bg-light);
                z-index: 1;
                
                
                
            }
            }
            
            
        }
        @for $i from 1 through 15{
            
              
          svg#mask-#{$i}{
            --initial-scale: calc(0.05 + (#{$i} * #{$i} / (var(--slices) * 3)));
            --scale-start: calc(0.05 + (1 * 1 / (var(--slices) * 3)));
            --scale-end: calc(0.05 + (var(--slices) * var(--slices) / (var(--slices) * 3)));
            opacity: 0;
            //transform: translate(-50%, -50%) scale3d(var(--initial-scale),var(--initial-scale),var(--initial-scale)) rotate(calc(30deg - (2 * #{$i}deg)));
            animation: cover-layer-anim calc(var(--slices) * var(--time-modifier)) calc((var(--slices) * var(--time-modifier)) - (#{$i}s * var(--modifier))) linear infinite;
            
            
            //
            g{
              position: relative;
              path{
                //transform: translateZ(-1px);
                //animation: cover-layer-opacity calc(var(--slices) * var(--time-modifier)) calc((var(--slices) * var(--time-modifier)) - (#{$i}s * var(--modifier))) ease-in infinite;
                
              }
              //transform: scale3d(var(--initial-scale),var(--initial-scale),var(--initial-scale)) rotate(calc(30deg - (2 * #{$i}deg)));
              &.cover-layer-overlay{
                //transform: translateZ(1px); //opacity: calc(0.067 * #{$i});
              opacity: 1;
              animation: cover-layer-opacity calc(var(--slices) * var(--time-modifier)) calc((var(--slices) * var(--time-modifier)) - (#{$i}s * var(--modifier))) ease-in infinite;
            }
            }
            
            
          }
        }
    }
}

@keyframes cover-layer-anim{
    0%{
        transform: translate3d(-50%, -50%, 0px) scale(0.25) rotate(600deg);
        opacity: 0;
        

       
        
    }
    2%{
        opacity: 1;
        filter: blur(0.25rem);
    }
    70%{
      filter: blur(0);  
      //transform: translate3d(-50%, -50%, 35px) scale(1.5) rotate(0deg);
    }
    98%{
        
        opacity: 1;
        
        
    }
    99%{
      opacity: 0;
      
    }
    100%{
        transform: translate3d(-50%, -50%, 50px) scale(2) rotate(-140deg);
        opacity: 0;
        filter: blur(0.125rem);
    }
}
@keyframes cover-layer-opacity{
    0%{
      //fill: var(--bg-dark);
      opacity: 1;
      //filter: blur(0.25rem) //drop-shadow(0 0 0.25rem var(--bg-shadow));
    }
    // 70%{
      
    //   filter: blur(0)  //drop-shadow(0 0 0.25rem var(--bg-shadow));
    // }
    // 90%{
      
    //   opacity: 1;
    //   //filter: blur(0)  //drop-shadow(0 0 0.25rem var(--bg-shadow));
    // }
    
    95%{
      //
      opacity: 0;
    }
    100%{
      //fill: var(--bg-light);
      opacity: 0;
      //filter: blur(0.125rem) //drop-shadow(0 0 0.25rem var(--bg-shadow));
    }
  }