body {
    background-color: var(--bg-dark);
    color: var(--text-color);
    font-family: var(--font-text);
    
    
  }
  h1{
    font-family: var(--font-heading);
    font-weight: 900;
  }
  section{
    position: relative;
    padding: 2rem 0;
  }
  .about{
    height: 100vh;
  }