.button-show{
    //font-family: var(--font-heading);
    
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    border: var(--button-border);
    background-color: var(--bg-button);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    @include clip-angle(
        calc(var(--clip-unit) / 1.5), 
        0, 
        0, 
        calc(var(--clip-unit) * 2)
    );
    &:after, &:before{
      content: "";
      position: absolute;
      inset:  0 0 3px 0;
      border-radius: var(--border-radius);
      background-color: var(--bg-button-active);
      z-index: -1;
      transform: translateX(105%);
      transition: all 0.2s ease-in-out;
    }
    &:before{
      
      background-color: var(--bg-button-hover);
      inset:  0;
    }
    
    &[data-variant="accent-bg"], &[data-active="true"]{
      color: var(--text-negative);
      &:after{
        transform: translateX(0);
      }
      &:before{
        transform: translateX(0);
      }
      
    }
    &:hover:not([data-active="true"]), &:focus:not([data-active="true"]){
      
      color: var(--text-negative);
        
      &:before{
        transform: translateX(0);
      }
    }
}
@mixin button{
  --_btn-clr: var(--bg-heavy);
  --clip-unit: 6px;
  --_btn-shadow: var(--accent-dark);
  --_btn-bg: var(--accent-color);
  --_btn-light: var(--accent-light);
  --_btn-translate: 0;
  --_btn-opacity: 0;
  --_btn-glow: var(--accent-light-60);
  --_light-scale: 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--_btn-clr, var(--text-color));
  position: relative;
  transition: all 0.2s ease-in-out 0.1s;
  > .button__glow{
    display: block;
    position: absolute;
    inset: 0 0 0 0;
    filter: drop-shadow(0 0 0.5em var(--_btn-light));
    opacity: var(--_btn-opacity, 0);
    transform: scale(var(--_light-scale, 0));
    z-index: 0;
    transition: all 0.3s ease-in-out;
    span{
      display: block;
      position: absolute;
      inset: 0 calc(var(--clip-unit) / 1.5) calc(var(--clip-unit) / 1.5) 0;
      transform: translate(var( --_btn-translate, 0), var( --_btn-translate, 0));
      
      background-color: var(--_btn-light);
      @include clip-angle(calc(var(--clip-unit) / 2), calc(var(--clip-unit) / 2) , calc(var(--clip-unit) / 2), calc(var(--clip-unit) * 1.25));
      transition: all 0.3s ease-in-out;
    }
    
    
  }
  > .button__inner{
    z-index: 1;
    position: relative;
    
    display: inline-block;
    padding-bottom: calc(var(--clip-unit) / 1.5);
    padding-right: calc(var(--clip-unit) / 1.5);
    
    @include clip-angle(calc(var(--clip-unit) / 2), var(--clip-unit) , calc(var(--clip-unit) / 2), calc(var(--clip-unit) * 2));
    // &::after{
    //   position: absolute;
    //   display: block;
    //   inset: 0;
    //   content: "";
    //   z-index: -1;
    //   background-color: var(--_btn-glow);
    //   transform: scale(var(--_light-scale, 0));
    //   filter: blur(2px);
    //   opacity: var(--_btn-opacity, 0);
    //   transition: all 0.3s ease-in-out;
    // }
    >span{
      display: block;
      transition: transform 0.2s ease-in-out;
      padding: 0.25em 0.5em;
      isolation: isolate;
      
      transform: translate(var( --_btn-translate, 0), var( --_btn-translate, 0));
      @include clip-angle(calc(var(--clip-unit) / 2), 0 , calc(var(--clip-unit) / 2), 0);
      &::before{
        position: absolute;
        display: block;
        inset: 0;
        content: "";
        background-color: var(--_btn-bg);
        z-index: -2;
        
      }
      &::after{
        position: absolute;
        display: block;
        inset: 0;
        content: "";
        z-index: -1;
        background-color: var(--_btn-glow);
        transform: scale(var(--_light-scale, 0));
        filter: blur(2px);
        //opacity: var(--_btn-opacity, 0);
        transition: all 0.3s ease-in-out;
      }
      
    }
    
    
  }
  &::before{
    content: "";
    position: absolute;
    inset: 0;
    // border-top: inset calc(var(--clip-unit) / 1.5) var(--bg-medium);
    // border-left: inset calc(var(--clip-unit) / 1.5) var(--bg-medium);
    background-color: var(--_btn-shadow);
    @include clip-angle(calc(var(--clip-unit) / 2), var(--clip-unit) , calc(var(--clip-unit) / 2), calc(var(--clip-unit) * 2));
  }
  
  
  &:hover{
    --_btn-translate: calc(var(--clip-unit) / 1.5);
    --_btn-opacity: 0.5;
    --_btn-clr: var(--bg-medium);
    --_light-scale: 1;
    //filter: drop-shadow(0 0 0.25em var(--_btn-glow));
    
      
  }
}
.button:not(.button-link){
  @include button;
}
@mixin nav-link{
  --link-color:  var(--text-color);
  color: var(--link-color);
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: inherit;
  
  transition: all 0.2s ease-in-out;
  position: relative;
  isolation: isolate;
  
  &::after{
      --clip-unit: 1px;
      content: "";
      position: absolute;
      background-color: var(--link-color);
      z-index: -1;
      bottom: -4px;
      inset-inline: 0;
      //width: 100%;
      height: 2px;
      transform: scaleX(0);
      transition: all 0.2s ease-in-out;
      @include clip-angle(
          0, 
          1px, 
          0, 
          1px
      );
  }
  &:hover, &:focus{
      --link-color: var(--accent-light);
      &::after{
          transform: scaleX(1);
      }
  }
  &.active{
      --link-color: var(--accent-color);
      &::after{
          transform: scaleX(1);
      }
  }
}
.toggle{
  
  border-radius: 100vw;
  padding: 0.15em;
  
  background-color: var(--text-color-40);
  position: relative;
  display: flex;
  align-items: center;
  isolation: isolate;
  border: none;
  outline: 1px solid var(--accent-color);
  box-shadow: inset 0.15em 0.15em 0.05em var(--bg-heavy-50);
  &:before{
    content: "";
    position: absolute;
    inset: 0.15em auto 0.15em 0.15em;
    aspect-ratio: 1/1;
    border-radius: inherit;
    background-color: var(--accent-color-80);
    transform: translateX(0);
    outline: 2px solid var(--accent-dark);
    z-index: -1;

    transition: transform 0.3s ease-in-out;
    
  }
  &__icon{
    color: var(--text-negative);
    font-size: 1.1em;
    display: inline-block;
    height: 100%;
    padding: 3px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    svg{
      fill: currentColor;
      shape-rendering: geometricPrecision;
      
    }
    &:first-child{
      opacity: 1;
    }
    
  }
  &[data-active="true"]{
    &:before{
      transform: translateX(100%);
    }
    .toggle__icon:last-child{
      opacity: 1;
    }
    .toggle__icon:first-child{
      opacity: 0.8;
    }
  }

}
.video-controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0; 
  button{
    opacity: 0.8;
    border: 0;
    background-color: var(--bg-heavy);
    border-radius: 50%;
    padding: 4px;
    margin: 0;
    line-height: 0;
    color: var(--text-color);
    transition: all 0.25s ease-in-out;
    &:hover{
        opacity: 1;
        color: var(--accent-light);
    }
  }
  .indicator{
    font-size: 0.8em;
    opacity: 0.6;
    color: var(--text-color);
    background-color: var(--bg-heavy);
    line-height: 0;
    padding: 5px;
    border-radius: 50%;
    
  }
  
}
.circle-link{
  --clip-unit: 6px;
  position: relative;
  display: inline-block;
  padding: 0 calc(var(--clip-unit) / 1.5) calc(var(--clip-unit) / 1.5) 0;
  background-color: var(--accent-dark);
  border-radius: 50%;
  &__inner{
    
    font-size: 2em;
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--accent-color);
    
    color: var(--bg-heavy);
    line-height: 0;
    aspect-ratio: 1/1;
    position: relative;
    transition: all 0.2s ease-in-out;
    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--accent-light-60);
        filter: blur(2px) drop-shadow(0 0 0.5em var(--accent-light));
        opacity: 0;
        transform: scale(0);
        z-index: -1;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
    }
    
    &:hover{
        transform: translate(calc(var(--clip-unit) / 1.5), calc(var(--clip-unit) / 1.5));
        &::after{
            transform: scale(1);
            opacity: 1;
            //ransform: translate(2px, 2px);
        }
        
        
    }
    svg{
        aspect-ratio: 1/1;
        position: relative;
        z-index: 1;
    }
  }
}