@use 'sass:color';
@use 'sass:math';

$colors: (
  "black":hsl(320, 37%, 8%),
  "deep-purple":hsl(256, 46%, 19%), // #2e234d
  "purple":hsl(246, 38%, 36%),
  "light-navy":hsl(216, 38%, 37%),
  "viridian": hsl(153, 35%, 39%),
  "green": hsl(123, 45%, 48%),
  "bright-green":hsl(104, 100%, 57%),
  "light-green": hsl(104, 95%, 85%),
  "nyanza": hsl(110, 100%, 94%),
  "white": hsl(113, 60%, 97%),
  "chinese-black": hsl(171, 35%, 8%),
  "jungle-green": hsl(171, 34%, 16%),
  "dark-slate-gray": hsl(170, 35%, 24%),
  "palatinate": hsl(312, 57%, 26%),
  "jam": hsl(326, 78%, 35%),
  "violet-red": hsl(322, 75%, 46%),
  "pink": hsl(328, 100%, 54%),
  "rd-rose": hsl(319, 100%, 61%),
  "l-rose": hsl(319, 100%, 81%),
  "shampoo": hsl(319, 100%, 92%),
  "l-blush": hsl(314, 100%, 97%)
);
$theme-options: (
  "dark": (
    "bg-heavy": "black",
    "bg-medium": "deep-purple",
    "bg-light": "pink",
    "text-color": "white",
    "text-negative": "deep-purple",
    "accent-dark": "green",
    "accent-color": "bright-green",
    "accent-light": "light-green",
    "extra-dark": "palatinate",
    "extra-color": "rd-rose",
    "extra-light": "shampoo"
  ),
  "light": (
    "bg-heavy": "light-green",
    "bg-medium": "white",
    "bg-light": "light-navy",
    "text-color": "deep-purple",
    "text-negative": "white",
    "accent-dark": "palatinate",
    "accent-color": "jam",
    "accent-light": "l-rose",
    "extra-dark": "dark-slate-gray",
    "extra-color": "viriadian",
    "extra-light": "nyanza"
  ),
);
:root{
  // Colors ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  @each $name, $color in $colors {
    --#{$name}:#{$color};

    @for $i from 0 through 10 {

      $transparency: rgba($color, calc($i * 0.1));

      --#{$name}-#{$i}0: #{$transparency};

    }
  }

    


}
// Themes ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@each $name, $color in $colors {
    
    .bg-#{$name}{
        background-color: var(--#{$name});
    }
    .text-#{$name}{
        color: var(--#{$name});
    }
    @for $i from 0 through 10 {

        .bg-#{$name}-#{$i}0{
            background-color: var(--#{$name}-#{$i}0);
        }
        .text-#{$name}-#{$i}0{
            color: var(--#{$name}-#{$i}0);
        }

    }
}
@each $name, $theme in $theme-options {
    html[data-theme="#{$name}"]{
      @each $property, $color in $theme {

        --#{$property}: var(--#{$color});

          @for $i from 0 through 10 {

            

            --#{$property}-#{$i}0: var(--#{$color}-#{$i}0);
            
            .bg-#{$property}-#{$i}0{
              background-color: var(--#{$property}-#{$i}0);
            }
            .text-#{$property}-#{$i}0{
              color: var(--#{$property}-#{$i}0);
            }

          }
        .bg-#{$property}{
          background-color: var(--#{$property});
        }
        .text-#{$property}{
          color: var(--#{$property});
        }

      }
    }
  }