@font-face {
    font-family: 'Roboto Mono';
    src: url('./../assets/fonts/RobotoMono-VariableFont_wght.woff2') format('woff2 supports variations'), 
         url('./../assets/fonts/RobotoMono-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 700;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./../assets/fonts/RobotoMono-Italic-VariableFont_wght.woff2') format('woff2 supports variations'),
         url('./../assets/fonts/RobotoMono-Italic-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 700;
    font-stretch: 75% 100%;
    font-style: italic;
    font-display: optional;
}
@font-face {
    font-family: 'Rubik';
    src: url('./../assets/fonts/Rubik-VariableFont_wght.woff2') format('woff2 supports variations'),
         url('./../assets/fonts/Rubik-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: optional;
}
@font-face {
    font-family: 'Rubik';
    src: url('./../assets/fonts/Rubik-Italic-VariableFont_wght.woff2') format('woff2 supports variations'),
         url('./../assets/fonts/Rubik-Italic-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 300 900;
    font-style: italic;
    font-display: optional;
}