:root {
  // Fonts ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --font-text: 'Roboto Mono', monospace;
  --font-heading: 'Rubik', sans-serif;

  // Spacing ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --spacing: 1rem;
  --spacing-small: 0.5rem;
  --spacing-large: 2rem;
  --em-spacing: 0em;

  // Utilities ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --border-radius: 0.15em 0.05 0 0.5em;
  --border-radius-small: 0.15em;
  --border-radius-large: 0.05em 0.1em  0.05em 0.2em;
  --clip-unit: 10px;
  // Buttons ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --bg-button: transparent;
  --bg-button-hover: var(--accent-dark);
  --bg-button-active: var(--accent-color);
  --button-border: 2px solid var(--accent-color);
  
}


