#about{
    position: relative;
    z-index: 3;
    background-image: linear-gradient(transparent, var(--bg-dark) 85%);
    will-change: transform;
    > *{
      transform: translateZ(0px);
      will-change: transform;
   
    }
  }