#about{
    position: relative;
    z-index: 3;
    background-image: linear-gradient(transparent, var(--bg-dark) 85%);
    will-change: transform;
    > *{
      transform: translateZ(0px);
      will-change: transform;
   
    }
    .about-title-text {
      border-bottom-right-radius: 0;
    }
  }
  .tab-menu {
    margin-top: 0;
    padding-top: 40px;
    button{
      border-color: transparent;
      border-radius: 0.15em 0 0 0.5em;
    }
    .tab-menu__item--active{
      button{
        background-color: var(--accent-color);
        color: var(--bg-light);
      }
    }
  }