@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes show-up{
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
  
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes new-start-cover-animation {
    0% {
      transform: scale(0, 0) rotate(180deg);
      opacity: var(--starting-opacity);
    }
    
    100% {
      transform: scale(var(--initial-scale), var(--initial-scale)) rotate(var(--initial-rotation));
      opacity: 1;
      
    }
  }
  @keyframes start-cover-svgs-transform {
    0% {
      transform: translateZ(var(--initial-translateZ)) rotate(var(--initial-rotation));
      opacity: 1;
    }
    
    95%{
      opacity: 1;
    }
    
    100% {
      transform: translateZ(240px) rotate(var(--initial-rotation));
      opacity: 0;
      
    }
  }
  
  @keyframes cover-svgs-transform {
    0% {
      transform: translateZ(0px) rotate(var(--initial-rotation));
      opacity: 1;
      
    }
    95%{
      opacity: 1;
    }
    
    100% {
      transform: translateZ(240px) rotate(var(--initial-rotation));
      opacity: 0;
      
    }
  }
  @keyframes wrapper-rotation{
    0%{
      transform: rotate(320deg);
    }
    100%{
      transform: rotate(-40deg);
    }
  }

  @keyframes spin-gradient{
    0%{--gradient-angle: 0deg;}
    100%{--gradient-angle: 360deg;}
  }