.button{
    //font-family: var(--font-heading);
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    border: var(--button-border);
    background-color: var(--bg-button);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    &:after, &:before{
      content: "";
      position: absolute;
      inset: 0;
      border-radius: var(--border-radius);
      background-color: var(--bg-button-active);
      z-index: -1;
      transform: translateX(100%);
      transition: all 0.2s ease-in-out;
    }
    &:before{
      
      background-color: var(--bg-button-hover);
      
    }
    &[data-variant="accent-bg"], &[data-active="true"]{
      color: var(--text-negative);
      &:after{
        transform: translateX(0);
      }
    }
    &:hover:not([data-active="true"]), &:focus:not([data-active="true"]){
      &:before{
        transform: translateX(0);
      }
    }
  }
  .tag{
    --font-size: 100%;
    --tag-bg: var(--bg-heavy-00);
    display: inline-block;
    padding: 0.25em 0.5em 0.4em;
    text-transform: none;
    font-size: var(--font-size);
    background-color: var(--tag-bg);
    position: relative;
    &::after{
      content: attr(data-value)"%";
      position: absolute;
      inset: 0;
      opacity: 0;
      display: flex;
      color: var(--text-negative);
      background-color: var(--accent-color);
      align-items: center;
      justify-content: center;
      transform: scale(0.6);
      transform-origin: center;
      transition: all 0.4s ease-in-out;
    }
    &:hover{
      &::after{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
 
  .lateral-scroll{
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .snap-y{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    scroll-snap-stop: always;
    > *{
      
      scroll-snap-align: start;
      scroll-snap-stop: always;
    
    }
    &[data-scrolling="false"]{
      overflow-y: hidden;
    }
  }
  .comma-list{
    display: flex;
    flex-wrap: wrap;
    @extend .gap-x-em-05;
    &__item{
      display: inline-block;
      &:not(:last-child){
        &::after{
          content: ",";
        }
      }
    }
  }

  .icon-link{
    --clip-unit: 5px;
    --iconlink-color: var(--text-color);
    --iconlink-bg: var(--extra-dark);
    --iconlink-shadow: var(--accent-color-80);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    color: var(--iconlink-color);
    opacity: 1;
    border: 0;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    isolation: isolate;
    
    &:before{
        content: "";
        position: absolute;
        border-radius: 5px;
        inset: 0;
        z-index: -1;
        background-color: var(--iconlink-bg);
        @include clip-right-bottom;
    }
    &::after{
        content: "";
        position: absolute;
        inset: -1px -2px -2px -1px;
        border-radius: 5px;
        z-index: -2;
        background-color: var(--iconlink-shadow);
        @include clip-left-bottom;
    }
  }
  .clipped-box{
    --clip-unit: 5px;
    --clippedbox-color: var(--text-color);
    --clippedbox-bg: var(--bg-heavy);
    --clippedbox-shadow: var(--accent-color-60);
    $clip-direction: clip-right-bottom;
    color: var(--clippedbox-color);
    
    background-color: transparent;
    position: relative;
    isolation: isolate;
    filter: drop-shadow(3px 3px 0 var(--clippedbox-shadow));
    &:before{
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--clippedbox-bg);
        @include clip-right-bottom;
        border-radius: inherit;
    }
    &[data-variant*="clip-bl"]{
      
      &:before{
        @include clip-left-bottom;
      }  
    }
    &[data-variant*="gradient"]{
      &:after{
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        background: linear-gradient(45deg, var(--black-30) 0%, transparent 10%, var(--white-20) 15%,transparent 25%, transparent 50%, transparent 70%,  var(--white-40) 80%, transparent 90%);
        border-radius: inherit;
        @include clip-right-bottom;
        
      }
      &[data-variant*="clip-bl"]{
      
        &:after{
          @include clip-left-bottom;
        }  
      }
    }
    
    
  }
  .clip-card{
    &::before{
      content: "";
      position: absolute;
      inset: -1px -3px -3px -1px;
      z-index: -1;
      border-radius: var(--clip-unit);
      //filter: blur(0.75em);
      background-color: var(--bg-heavy);
      background-image: conic-gradient(
          from var(--gradient-angle), 
          var(--accent-light-80), 
          var(--accent-color-80),
          var(--accent-dark-40),
          var(--accent-color-80),
          var(--accent-light-80)
          );
          @include clip-right-bottom;
  }
  &::after{
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: 5px;
      background-color: var(--bg-heavy);
      background-image: linear-gradient(90deg, var(--bg-heavy-20), var(--bg-light-10));
      @include clip-right-bottom;
  }
}
.clip-ui{
  isolation: isolate;
  
  &::before, &::after{
    content: "";
    position: absolute;
    
    
    
  }
  &::before{
      background-color: var(--accent-dark);
      --gradient-angle: 45deg;
      background-image: conic-gradient(
          from var(--gradient-angle), 
          var(--accent-light-80), 
          var(--accent-color),
          var(--accent-dark-60),
          var(--accent-color-90),
          var(--accent-light-80)
          );
      z-index: -2;
      inset: -1px -3px -3px -1px;
      @include clip-left-bottom; 
      border-radius: 5px 0 7px 0;
  }
  &::after{
      background-image: linear-gradient(90deg, var(--bg-heavy-20), var(--bg-light-10));
      background-color: var(--bg-heavy);
      z-index: -1;
      inset: 0;
      border-radius: 0 5px 0 7px;
      @include clip-right-bottom; 
  }
}
  
  .text-box{
    --clip-unit: 0.125em;
    --textbox-b-radius: 0.05em;
    padding-inline: 0.2em 0.1em;
    line-height: 1;
    display: inline-block;
    border-radius: var(--textbox-b-radius);
    letter-spacing: 0.05em;
    @extend .clipped-box;
    
    &[data-variant*="accent-bg"]{
      --clippedbox-bg: var(--accent-color);
      --clippedbox-color: var(--bg-heavy);
        
    }
    &[data-variant*="dark-bg"]{
      color: var(--text-color);
    }
    
  }
  .title-box[data-variant*="accent-bg"] > .title-inner{
    background-color: var(--accent-color);
  }
  .title-box > .title-inner{
    color: var(--text-negative);
    background-color: var(--text-color);
    padding-inline: 0.2em 0.1em;
    line-height: 1;
    display: inline-block;
    border-radius: var(--border-radius-large);
    letter-spacing: 0.05em;
    position: relative;
   
  }
  .title-box[data-variant*="accent-bg"] > .title-inner{
    background-color: var(--accent-color);
  }
  .single-info{
    
    a{
      color: currentColor;
      text-decoration: underline;
      &:hover{
        color: var(--extra-light);
      }
    }
    .material-symbols-outlined{
      padding: 0.1em;
      border-radius: 50%;
      
    }
  }
  .video-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0; 
    button{
      padding: 0;
      border: 0;
      background-color: transparent;
      .material-symbols-outlined{
        padding: 0.1em;
        border-radius: 50%;
        background-color: var(--bg-heavy);
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
        &:hover{
          opacity: 1;
        }
      }
    }
    .indicator{
      color: var(--bg-heavy);
      opacity: 0.6;
      .material-symbols-outlined{
        font-size: 28px;
      }
      
    }
    
  }
  .toggle{
    
    border-radius: 100vw;
    padding: 0.15em;
    
    background-color: var(--accent-dark-60);
    position: relative;
    display: flex;
    align-items: center;
    isolation: isolate;
    border: none;
    box-shadow: inset 0.15em 0.15em 0.05em var(--bg-heavy-50);
    &:before{
      content: "";
      position: absolute;
      inset: 0.15em auto 0.15em 0.15em;
      aspect-ratio: 1/1;
      border-radius: inherit;
      background-color: var(--accent-light-70);
      transform: translateX(0);
      z-index: -1;

      transition: transform 0.3s ease-in-out;
      
    }
    &__icon{
      color: var(--text-negative);
      font-size: 1.2em;
      display: inline-block;
      height: 100%;
      padding: 0.1em;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
      &:first-child{
        opacity: 1;
      }
      
    }
    &[data-active="true"]{
      &:before{
        transform: translateX(100%);
      }
      .toggle__icon:last-child{
        opacity: 1;
      }
      .toggle__icon:first-child{
        opacity: 0.5;
      }
    }

  }

  