@use 'sass:color';
@use "sass:map";
@use 'sass:math';

$slice_count: 8;


@function get_layer_bg($foreground, $background, $slice_index, $slices){
  $hue: color.hue($foreground);
  $sat: color.saturation($foreground);
  $lig: color.lightness($foreground);
  $hue-bg: color.hue($background);
  $sat-bg: color.saturation($background);
  $lig-bg: color.lightness($background);
  $hue-diff: $hue-bg - $hue;
  $sat-diff: $sat-bg - $sat;
  $lig-diff: $lig-bg - $lig;
  $hue-shift: math.div($hue-diff, $slices);
  $sat-shift: math.div($sat-diff, $slices);
  $lig-shift: math.div($lig-diff, $slices);
  $hue-shifted: $hue-shift * ($slices - $slice_index);
  $sat-shifted: $sat-shift * ($slices - $slice_index);
  $lig-shifted: $lig-shift * ($slices - $slice_index);
  $color: color.adjust($foreground, $hue: $hue-shifted, $saturation: $sat-shifted, $lightness: $lig-shifted);
  @return $color;
}

$fg-name-dark: map.get($theme-options, 'dark', 'bg-medium'); // get color name from theme options
$fg-color-dark: map.get($colors, $fg-name-dark); // get color value from colors name

$bg-name-dark: map.get($theme-options, 'dark', 'bg-heavy'); // get color name from theme options
$bg-color-dark: map.get($colors, $bg-name-dark);

$fg-name-light: map.get($theme-options, 'light', 'bg-medium'); // get color name from theme options
$fg-color-light: map.get($colors, $fg-name-light); // get color value from colors name





html[data-theme="dark"]{
  
  
  .cover-layer-mask{
    background-color: var(--dark-layer-bg);
  }
}
html[data-theme="light"]{
  
  .cover-layer-mask{
    background-color: var(--light-layer-bg);
  }
}

#cover {
  contain: paint;
  overflow: hidden;
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: 0;
  background-color: var(--bg-heavy);
  --slices: 8;
  --modifier: 15;
  --time-modifier: 15s;

  --animation-duration: calc(var(--slices) * var(--time-modifier));
  --clip: path('');
  
  .cover-wrapper{
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100vh;
    
    
  }
  
  
  .cover-layer-wrapper {
    //perspective: 230px;
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 50vmax;
    height: 50vmax;
    //transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    isolation: isolate;
    //backface-visibility: hidden;
    //will-change: transform;
    //animation: wrapper-rotation var(--animation-duration) linear  infinite;
    @media (orientation: portrait) {
      
      transform: translate(-50%, -50%) rotate(90deg);
    }
    .cover-layer {
      
      position: absolute;
      inset: 0;
      transform-origin: center;
      //transform-style: preserve-3d;
      backface-visibility: hidden;
      opacity: 1;
      contain: paint;
      will-change: transform, opacity;
      

      .cover-layer-mask{
        position: absolute;
        width: 100%;
        height: 100%;
        
        inset: 0;
        z-index: 1;
        shape-rendering: optimizeSpeed;
        clip-path: var(--clip);
        
        
      }
      .cover-layer-shadow{
        
        
        position: absolute;
        width: 98%;
        height: 98%;
        z-index: 0;
        inset: 1%;
        border-radius: 50%;
        //opacity: 0.2;
        mix-blend-mode: multiply;
        background-color: var(--bg-heavy-20);
        //background-image: radial-gradient(var(--bg-heavy), var(--bg-heavy-00) 10%, var(--bg-heavy) 40%);
        
      
      }
      // &:after{
      //   content: '';
        
      //   position: absolute;
      //   width: 101%;
      //   height: 101%;
      //   z-index: 2;
      //   inset: -1%;
      //   border-radius: 50%;
        
      //   background-image: radial-gradient(transparent 60%, var(--bg-medium) 90%);
        
        
      
      // }
      


    }
    // .cover-layer-shadow{
    //   position: absolute;
    //   width: 90%;
    //   height: 90%;
    //   z-index: 1;
    //   inset: 10px;
    //   background-image: radial-gradient(var(--bg-heavy), var(--bg-heavy-20));
      
    //   //background-color: var(--bg-shadow);
    // }

    @for $i from 1 through $slice_count {

      #mask-#{$i} {

        --initial-scale: #{$i - 0.75};
        --initial-rotation: calc((180 - ((180 * #{$i}) / var(--slices))) * 1deg);
        //--initial-translateZ: calc(((30 * var(--slices)) - (#{$i} * 30)) * 1px);
        --clip: url(#maskpath-#{$i});
        //--starting-Z: calc(#{$i} * 10px);
        //--starting-opacity: calc( 1 - (1 / (#{$i} * 0.5)));


        $dark-layer-bg: get_layer_bg($fg-color_dark, $bg-color_dark, $i, $slice_count);


        --dark-layer-bg: #{$dark-layer-bg};
        
        
        //--animation-delay: calc(120s - ((var(--slices) * var(--time-modifier)) - (#{$i} * var(--time-modifier))));
        --delay: #{2 - 0.25 * $i}s;
        --duration: calc(5s - #{3 - 0.05 * $i}s);
        
        transform: scale(var(--initial-scale), var(--initial-scale)) rotate(var(--initial-rotation));
        opacity: 1;
        z-index: $i;
        //transform: translateZ(var(--starting-Z)) rotate(360deg);
        //animation: start-cover-svgs-transform var(--animation-delay) linear 0s ,cover-svgs-transform var(--animation-duration) linear  var(--animation-delay) infinite;
        //animation: new-start-cover-animation var(--duration) linear var(--delay);
        
      
      }
      
    }
  }
}
.cover-overlay{
  
  position: fixed;
  width: 100%;
  inset: 0;
  z-index: 1;
  background-image: radial-gradient(var(--bg-heavy-00) 45%, var(--bg-heavy) 80%);
  pointer-events: none;
  
  
}
.cover-shade{
  
  position: fixed;
  width: 100%;
  inset: 0;
  background-image: linear-gradient(-135deg, var(--bg-light-00) , var(--bg-light-40));
  pointer-events: none;
  mix-blend-mode: color;
  animation: fade-in 1s linear 0s forwards;
  z-index: 2;
}
