#cover {
  overflow-x: clip;
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  --slices: 15;
  --modifier: 15;
  --time-modifier: 15s;

  .cover-container{
    position: relative;
    z-index: 3;
    display: flex;
    flex-flow: wrap-reverse;
    width: 100%;
    padding: 16px;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    .cover-logo{
      
      //max-height: 50vh;
      #SvgLogo{
        display: none
      }
      #logo-wrapper{
        width:  max(300px, 25vw);
        height: max(300px, 25vw);
      }
    }
  }
  .cover-content{
    
    
    .cover-title{
      @extend .border-t-accent;
     
      text-align: center;
      
      &-second{
        
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 1;
        font-size: 0.5em;
        margin-bottom: 0.25em;
        text-transform: none;
      }
      &-third{
        font-size: 1.1em;
        display: block;
       
      }
    }
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: radial-gradient(var(--bg-dark), var(--bg-transparent) 30%);
    z-index: 2;
  }
  .cover-layer-wrapper {
    perspective: 50px;
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    transform:translate3d(0,0,0);
    backface-visibility: hidden;
    
    .cover-layer {
      width: 401px;
      height: 284px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center;
      

      svg {
        position: absolute;
        transform-origin: center;
        width: 100%;
        z-index: 1;

        
      }
      


    }
    .cover-layer-shadow{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      inset: 0;
      background-image: radial-gradient(var(--bg-dark), var(--bg-shadow));
      
      //background-color: var(--bg-shadow);
    }

    @for $i from 1 through 15 {


      #mask-#{$i} {

        --initial-scale: calc(0.25 + (((2.17 - 0.25) * #{$i}) / var(--slices)));
        --initial-rotation: calc((560 - ((600 * #{$i}) / var(--slices))) * 1deg);
        --initial-translateZ: calc(((45 * #{$i}) / var(--slices)) * 1px);
        
        --animation-duration: calc(var(--slices) * var(--time-modifier));
        --animation-delay: calc((var(--slices) * var(--time-modifier)) - (#{$i} * var(--time-modifier)));

        transform-style: preserve-3d;
        backface-visibility: hidden;
        opacity: 1;
        //will-change: transform, opacity;
        transform: translate3d(-50%, -50%, var(--initial-translateZ)) scale(var( --initial-scale)) rotate(var(--initial-rotation));
        animation: start-cover-svgs-transform var(--animation-delay) linear 0s ,cover-svgs-transform var(--animation-duration) linear  var(--animation-delay) infinite;
        


        svg{
  
          transform-style: preserve-3d;
          backface-visibility: hidden;
      
        }
        &:before{
          content: '';
          
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 0;
          inset: 0;
          border-radius: 50%;
         
          //background-color: var(--bg-shadow);
          background-image: radial-gradient(var(--bg-transparent), var(--bg-dark));
          
        
        }
      
      }
    }
  }
}
@keyframes start-cover-svgs-transform {
  0% {
    transform: translate3d(-50%, -50%, var(--initial-translateZ)) scale(var( --initial-scale)) rotate(var(--initial-rotation));
    
  }
  
  98% {
    opacity: 1;
    
  }
  
  99% {
    opacity: 0;
    

  }

  100% {
    transform: translate3d(-50%, -50%, 45px) scale(2.2) rotate(-60deg);
    opacity: 0;
    
  }
}

@keyframes cover-svgs-transform {
  0% {
    transform: translate3d(-50%, -50%, 0px) scale(0.25) rotate(600deg);
    opacity: 0;
    
  }
  2%{
    opacity: 1;
    
  }
  
  90% {
    
    transform: translate3d(-50%, -50%, 40px) scale(2) rotate(0deg);
  }
  
  98% {
    opacity: 1;
    
  }
  
  99% {
    opacity: 0;
    

  }

  100% {
    transform: translate3d(-50%, -50%, 45px) scale(2.2) rotate(-60deg);
    opacity: 0;
    
  }
}
