body.modal-open{
    overflow: hidden;
}
.dialog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: none;
    padding-top: 40px;
    
    &.active{
        display: flex;
    }
    &__backdrop{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-heavy-80);
        z-index: -1;
    }
    &__content{
        position: relative;
        width: clamp(320px, calc(100% - 4rem), 1600px);
        height: calc(100% - 100px);
        padding: clamp(0.5rem, 5vw, 3.5rem);
        &::before, &::after{
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 10px 5px 20px 7px;
            @extend .clip-right-bottom; 
        }
        &::before{
            background-image: conic-gradient(
                from var(--gradient-angle), 
                var(--accent-light-80), 
                var(--accent-color-80),
                var(--accent-dark-40),
                var(--accent-color-80),
                var(--accent-light-80)
                );
            z-index: -2;
            inset: -1px -3px -3px -1px;
        }
        &::after{
            background-image: linear-gradient(90deg, var(--bg-heavy-20), var(--bg-light-10));
            background-color: var(--bg-heavy);
            z-index: -1;
        }
    }
    &__body{
        
        height: 100%;
        

        .dialog__grid{
            display: grid;
            grid-template-columns: minmax(320px, 65ch) 1fr ;
            grid-template-rows: auto 1fr;
            grid-auto-flow: row dense;
            max-height: 100%;
            min-height: 100%;
            > *{
                max-width: 100%;
                max-height: 100%;
                overflow: hidden;
            }
            .splide{
                
                height: 100%;
                padding-bottom: 1.5em;
                .splide__track{
                    height: 100%;
                    .splide__list{
                        height: 100%;
                        .splide__slide{
                            height: 100%;
                            
                            .block-picture{
                                height: 100%;
                                width: auto;
                                img, figure, picture, video{
                                    height: 100%;
                                    width: auto;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
                .splide__arrow{
                    @extend .icon-link;
                    position: absolute;
                    svg{
                        fill: currentColor;
                    }
                    &--prev{
                        &::before{
                            @extend .clip-left-bottom;
                        }
                    }
                }
                .splide__pagination{
                    bottom: 0;
                    .splide__pagination__page{
                        border-radius: 0;
                        rotate: 45deg;
                        background-color: var(--accent-light-60);
                        margin: 5px;
                        &.is-active{
                            background-color: var(--accent-color);
                        }
                    }
                }
            }
            
        }
    
    }
    &__info{
        .single-info{
            &__value{
                @extend .text-small;
                display: block;
                //flex-basis: 100%;
            }
            .material-symbols-outlined{
                
                font-size: 1.5em;
            }
        }
    }
    &__description{
        max-height: 100%;
        overflow-y: auto;
        @extend .hide-scrollbar;
        @media screen and (min-width: 1024px) {
            
            //grid-row: 1 / -1;
        }
        
    }
    &__links{
        position: absolute;
        right: 1em;
        top: 1em;
    }
    &__title{
        padding-inline: 0.3em;
        padding-block: 0.1em;
        letter-spacing: 0;
    }

    
}