body.modal-open{
    overflow: hidden;
}

.dialog{
    --pt: 30px;
    --icon-size: 0.875rem;
    --em-spacing: 1.5em;
    --title-size: clamp(1.5rem, calc(1.5vw + 1.5rem), 2.5rem);
    --subtitle-size: clamp(0.875rem, calc(1.25vw + 0.875rem), 1rem);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    
    display: none;
    padding-top: var(--pt);
    
    &:target{
        display: flex;
        
    }
    &.closed{
        display: none;
    }
    &__backdrop{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-heavy-80);
        z-index: -1;
        backdrop-filter: blur(2px);
    }
    &__content{
        --c-top: 1.5rem;
        --c-inline: clamp(0.5rem, 2.5vw, 3.5rem);
        --c-bottom: clamp(0.5rem, 2.5vw, 3.5rem);
        
        --h-modifier: 60px;
        position: relative;
        width: clamp(320px, calc(100% - 1.5rem), 1400px);
        height: calc(100% - var(--h-modifier));
        
        padding: var(--c-top) var(--c-inline) var(--c-bottom);
        filter: drop-shadow(0 0 0.5rem var(--accent-light-60));
        @extend .clip-ui;
    }
    &__header{
        .subtitle{
            font-size: var(--subtitle-size);
            margin-bottom: 0;
            text-wrap: balance;
        }
    }
    &__body{
        
        height: 100%;
        overflow: auto;

        .dialog__grid{
            display: grid;
            
            
            
            max-height: 100%;
            min-height: 100%;
            gap: var(--em-spacing);
            > *{
                max-width: 100%;
            }
            .dialog__gallery{
                max-height: 450px;
            }
            .splide{
                --d-modifier: calc(var(--c-top) + var(--c-bottom) + var(--info-height, 125px) + var(--h-modifier) + var(--pt));
                height: 100%;
                padding-bottom: 1.5rem;
                max-height: min(450px, 100vh - var(--d-modifier));
                .splide__track{
                    height: 100%;
                    cursor: grab;
                    .splide__list{
                        height: 100%;
                        
                        .splide__slide{
                            height: 100%;
                            max-height: 100%;
                            //max-width: 100%;
                            width: auto;
                            display: flex;
                            align-items: center;
                            max-width: min(420px, 100vh - var(--d-modifier) - 1.5rem, 100%);
                            .block-picture{
                                height: 100%;
                                max-height: min(420px, 100vh - var(--d-modifier) - 1.5rem, 100%);
                                width: auto;
                                max-width: min(420px, 100vh - var(--d-modifier) - 1.5rem, 100%);
                                position: relative;
                                margin: 0;
                                
                                video, img {
                                    display: block;
                                    margin: 0 auto;
                                    width: auto;
                                    height: auto;
                                    max-width: 100%;

                                    max-height: 100%;
                                    object-fit: contain;
                                }
                                .video-controls{
                                    font-size: 1.25em;
                                    opacity: 0.5;
                                    transition: opacity 0.25s ease-in-out;
                                    .indicator{
                                        
                                        opacity: 0;
                                        transition: opacity 0.25s ease-in-out;
                                    }
                                    
                                }
                                &.playing{
                                   .video-controls{
                                        opacity: 1;
                                        .indicator{
                                            opacity: 0.7;
                                        }
                                      
                                    } 
                                }
                            }
                            &.is-active{
                                .block-picture{
                                    .video-controls{
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                    &:active{
                        cursor: grabbing;
                    }
                }
                .splide__arrow{
                    @extend .icon-link;
                    position: absolute;
                    svg{
                        fill: currentColor;
                    }
                    &--prev{
                        &::before{
                            @include clip-angle(var(--clip-half), var(--clip-unit) , var(--clip-half), var(--clip-double));
                        }
                        &::after{
                            @include clip-angle( var(--clip-unit), var(--clip-half), var(--clip-double), var(--clip-half));
                        }
                    }
                }
                .splide__pagination{
                    bottom: 0;
                    .splide__pagination__page{
                        border-radius: 0;
                        rotate: 45deg;
                        background-color: var(--accent-light-60);
                        margin: 5px;
                        &.is-active{
                            background-color: var(--accent-color);
                        }
                    }
                }
            }
            
        }
    
    }
    &__info{
        .grid{
            gap: calc(var(--em-spacing) / 1.75);
            font-size: 75%;
        }
        .single-info{
            flex-wrap: nowrap;
            
            &__value{
                
                display: block;
                padding-bottom: 3px;
                display: -webkit-box;
                //flex-basis: 100%;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            
        }
    }
    &__description{
        .content-text{
            max-height: 100%;
            overflow-y: auto;
            font-size: 80%;
            @extend .hide-scrollbar;

        }
        
        
    }
    &__links{
        position: absolute;
        right: 1em;
        top: -0.5em;
        .icon-link{
            font-size: var(--icon-size);
            
        }
    }
    &__title{
        padding-inline: 0.3em;
        padding-block: 0.1em;
        letter-spacing: 0;
        font-size: var(--title-size);
        min-width: 100%;
    }
    @media screen and (min-width: 768px){
        --pt: 40px;
        align-items: center;

        &__content{
            
            --c-top: clamp(0.5rem, 2.5vw, 3.5rem);
            --c-inline: clamp(0.5rem, 2.5vw, 3.5rem);
            --c-bottom: clamp(0.5rem, 2.5vw, 3.5rem);
            --h-modifier: 50px;
        }
        &__body{
            .dialog__grid{
                display: grid;
                grid-template-columns: clamp(320px, 50%, calc(65ch + 3em)) 1fr;
                grid-template-rows: auto 1fr;
                grid-auto-flow: row dense;
                > *{
                    max-width: 100%;
                    max-height: 100%;
                    overflow: hidden;
                }
            }
        }
    }
    @media screen and (min-width: 1024px){
        --pt: 70px;
        
        &__content{
        --h-modifier: 40px;
        }
        &__info{
            .grid{
                font-size: 100%;
            }
        }
    }
    @media screen and (min-width: 1280px){
        --pt: 40px;
        --icon-size: 1rem;
        --em-spacing: 2em;
        --title-size: clamp(1.85rem, calc(2vw + 1.85rem), 3.5rem);
        --subtitle-size: clamp(1.15rem, calc(0.15vw + 1rem), 1.25rem);
        &__content{
            --h-modifier: 150px;
            --c-top: clamp(0.5rem, 5vw, 3.5rem);
            --c-inline: clamp(0.5rem, 5vw, 3.5rem);
            --c-bottom: clamp(0.5rem, 5vw, 3.5rem);
            
            //padding-bottom: clamp(1.5rem, calc(5vw + 1.5rem), 5rem);
        }
        &__description{
            .content-text{
                font-size: 100%;
            }
        }
        
    }
    
}