#hero{
    width: 100%;
    z-index: 1;
    

    .section-container{
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: wrap-reverse;
        width: 100%;
        padding: 16px;
        gap: 10vw;
        justify-content: center;
        align-items: center;
        .cover-logo{
          
          //max-height: 50vh;
          #SvgLogo{
            display: none
          }
          #logo-wrapper{
            width:  max(300px, 25vw);
            height: max(300px, 25vw);
          }
        }
      }
      .cover-content{
        
        
        .cover-title{
          @extend .border-t-accent;
         
          text-align: center;
          filter: drop-shadow(0 0 0.25rem var(--bg-dark));
          &-first{
            text-shadow: 0 0 0.25rem var(--bg-dark);
          }
          &-second{
            text-shadow: 0 0 0.25rem var(--bg-dark);
            font-weight: 400;
            letter-spacing: 0.1em;
            line-height: 1;
            margin-bottom: 0.25em;
            text-transform: none;
          }
          &-third{
            font-size: 1.1em;
            display: block;
            //text-shadow: 0 0 0.25rem var(--bg-dark);
           
          }
        }
        .cover-subtitle{
          text-transform: none;
          font-weight: 500;
        }
      }
}