#hero{
    
    

    .section-container{
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: wrap-reverse;
        
        padding: 16px;
        justify-content: space-around;
        align-items: center;
        .cover-logo{
          
          //max-height: 50vh;
          #SvgLogo{
            display: none
          }
          #logo-wrapper{
            width:  max(300px, 25vw);
            height: max(300px, 25vw);
          }
        }
      }
      .cover-content{
        
        
        .cover-title{
          @extend .border-t-radius-accent;
          
          text-align: center;
          filter: drop-shadow(0 0 0.25rem var(--bg-heavy));
          &-first{
            text-shadow: 0 0 0.25rem var(--bg-heavy);
          }
          &-second{
            text-shadow: 0 0 0.25rem var(--bg-heavy);
            font-weight: 400;
            letter-spacing: 0.1em;
            line-height: 1;
            margin-bottom: 0.25em;
            
          }
          &-third{
            font-size: 1.1em;
            display: block;
            
            //text-shadow: 0 0 0.25rem var(--bg-heavy);
           
          }
        }
        .cover-subtitle{
          
          font-weight: 500;
        }
      }
      &.coming-soon{
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        .section-container{
          position: relative;
          z-index: 2;
          display: flex;
          flex-flow: column;
          
          padding: 16px;
          justify-content: space-around;
          align-items: center;
          .cover-title{
            @extend .border-tb-radius-accent;
            opacity: 0;
            animation: fade-in 0.7s ease-in-out 1.5s forwards;
          }
          .cover-logo{
            opacity: 0;
            animation: fade-in 0.7s ease-in-out 1.2s forwards;
            #logo-wrapper{
              margin: 0 auto;
            }
          }
          .coming-soon-copy {
            opacity: 0;
            animation: fade-in 0.7s ease-in-out 1.8s forwards;
            @media (min-width: 900px){
              font-size: clamp(1.15rem, calc(0.15vw + 1rem), 1.25rem);
              br + br{
                display: none;
              }
            }
          }
        }
      }
}