html{
  color-scheme: dark light;
  text-rendering: optimizeLegibility;
}
body {
  background-color: var(--bg-light);
  color: var(--text-color);
  font-family: var(--font-text);
  //background-image: linear-gradient(var(--bg-dark) 0%, var(--bg-dark) 50%, var(--bg-light) 100%);
  
}
.cover-overlay{
  position: fixed;
  inset: 0;
  z-index: 99;
  background-image: radial-gradient(transparent 15%, var(--bg-dark) 95%);
  pointer-events: none;
}
.flow > * + * {
  margin: 0 0 1em;
}

section{
  position: relative;
}
#wrapper {
  overflow-y: clip;
  width: 100%;
  position: relative;
  flex-flow: column nowrap;
  > * {
    position: relative;
    min-height: 100vh;
    z-index: 1;
  }
}
.section-wrapper{
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem 10px;
  isolation: isolate;
  
  .section-container{
    width: 100%;
    max-width: 90rem;
  }
  .section-content {
    padding: 20px;
  }
}
.grid{
  display: grid;
  grid-template-columns: max-content 1fr;
  .section-title {
    margin: 0;
    .text-box{
      border-top-right-radius: 0;
    }
    
  }
  .section-content{
    min-width: 320px;
    &.border-block-accent{
      border-top-left-radius: 0;
    }
  }
}
.flex{
  display: flex;
  flex-flow: row wrap;
  
  
  .section-title {
    margin: 0;
    .text-box{
      border-top-right-radius: 0;
    }
    
  }
  .section-content{
    min-width: 320px;
    &.border-block-accent{
      border-top-left-radius: 0;
    }
  }
}