body {
  background-color: var(--bg-light);
  color: var(--text-color);
  font-family: var(--font-text);
  //background-image: linear-gradient(var(--bg-dark) 0%, var(--bg-dark) 50%, var(--bg-light) 100%);
  
}
.flow > * + * {
  margin: 0 0 1em;
}

section{
  position: relative;
  padding: 2rem 0;
}
#wrapper {
  overflow-y: clip;
  width: 100%;
  position: relative;
}


.about{
  position: relative;
  height: 100vh;
  z-index: 3;
  &::after{
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(transparent, var(--bg-dark) 50%);
    
    
  }
}
.card{
  position: relative;
  z-index: 3;
  background-color: var(--bg-glass);
  border-radius: 2px;
  backdrop-filter: blur(0.5rem);
  padding: 1rem;
  box-shadow: 0 0 0.5rem var(--bg-dark);
  > p{
    margin: 0;
  }
  
}