.main-nav{
    //background-image: linear-gradient(var(--bg-heavy), var(--bg-heavy-70) 60%, var(--bg-light-00));
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    .masked-logo{
        width: 1.5rem;
    }
    .main-nav__logo-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--text-color-08);
        transition: all 0.2s ease-in-out;
        gap: 1rem;
        &:hover{
            color: var(--accent-color);
        }
    }
    .main-nav__logo-text{
        @extend .heading, .uppercase;
        font-size: 2rem;
    }
    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 2rem;
        margin: 0;
        list-style: none;
        background-color: var(--bg-heavy);
        li{
            a{
                color: var(--accent-color);
                text-decoration: none;
                
                
                padding: 1em;
                transition: all 0.2s ease-in-out;
                &:hover{
                    color: var(--text-color-08);
                }
            }
        }
    }

}