.main-nav{
    //background-image: linear-gradient(var(--bg-heavy), var(--bg-heavy-70) 60%, var(--bg-light-00));
    --clip-unit: 6px;
    --padding: 0.5rem 0 0.5rem 1rem; 
    --link-direction: row;
    --display-icons: block;
    --link-size: 0.75rem;
    --justify-menu: space-between;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    .masked-logo{
        width: 1.5rem;
    }
    &__logo-link{
        --flex-basis: 0;
        --text-opacity: 0;
        display: flex;
        
        align-items: center;
        text-decoration: none;
        color: var(--text-color-08);
        transition: all 0.2s ease-in-out;
        gap: 1rem;
        
        &:hover{
            --flex-basis: 7em;
            --text-opacity: 1;

        }
    }
    &__logo-text{
        @extend .heading, .uppercase;
        
       
        
        
        font-size: 2rem;
        line-height: 1;
        display: block;
        overflow: hidden;
        flex-basis: var(--flex-basis);
        transition: flex-basis 0.3s ease-in-out;

    }
    &__text-wrapper{
        padding: 4px;
        background-image: linear-gradient(var(--bg-heavy-00), var(--bg-heavy-80), var(--bg-light-00));
        filter: drop-shadow(3px 3px 0 var(--bg-heavy-60));
        
        opacity: var(--text-opacity);
        transition: opacity 0.2s ease-in-out 0.3s;
            
        
        
        
    }
    .logo-wrapper{
        --clip-unit: 4px;
        
        padding: 0.25em;
        position: relative;
        line-height: 0;

        @extend .clip-ui;
    }
    &__logo{
        position: relative;
        
        
    }
    &__list{
        
        padding: var(--padding);
        
        display: flex;
        justify-content: var(--justify-menu);
        align-items: center;
        
        position: fixed;
        bottom: 4px;
        inset-inline: 4px;
        @extend .clip-ui;
        ul{
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: var(--justify-menu);
            align-items: center;
        }
        li{
            a{
                color: var(--text-color);
                text-decoration: none;
                display: block;
                text-align: center;
                font-size: var(--link-size);
                padding: 0 1em;
                transition: all 0.2s ease-in-out;
                span{
                    display: var(--display-icons);
                    font-size: 1.5em;
                    line-height: 1;
                    margin-inline: auto;
                     
                }
                &:hover{
                    color: var(--accent-color);
                }

            }
        }
        .site-options{
            font-size: min(var(--link-size), 1rem);
        }
        @media (min-width: 768px){
            
            position: relative;
            bottom: auto;
            inset-inline: auto;
            
        }
    }
    @media (min-width: 768px){
        --padding: 0.25rem 1rem 0.25rem 0.25rem;
        --display-icons: none;
        --link-size: 0.875rem;
        --justify-menu: flex-end;
        width: 100%;
    }
    @media (min-width: 1024px){
        --padding: 1rem 2rem;
        --link-size: 1.125rem;
    }

}
@media (max-width: 767.99px){
    .modal-open{
        .main-nav{
            max-width: 3rem;
            &__logo-link{
                max-width: 3rem;
            }

        }
    }
}