#portfolio{
    background-image: linear-gradient(var(--bg-heavy), transparent 90%);
    min-height: 200vh;
    align-items: start;
    .section-container{
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 100px);
        position: sticky;
        top: 2rem;
    }
}
.portfolio-container{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    
    
    .portfolio-item{
        --x: 0;
        --y: 0;
        --scale:0;
        --em-spacing: 0.5em;

        width: 100%;

        padding-bottom: var(--em-spacing);
        opacity: 1;
        
        &__image{
            width: 100%;
           aspect-ratio: 1 / 1;
           background-color: var(--bg-light-30);
           line-height: 0;
           picture{
        
               width: 100%;
               height: 100%;
               object-fit: cover;
           }
        }
       //transform: translate(var(--x), var(--y)) scale(var(--scale));
       &__links{
            display: flex;
            gap: 1em;
            justify-content: flex-end;
            align-items: center;
            
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2em;
                height: 2em;
                
            }
       } 
    }
}