#portfolio{
    background-image: linear-gradient(var(--bg-heavy), transparent 90%);
    min-height: 200vh;
    align-items: start;
    .section-container{
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 100px);
        position: sticky;
        top: 2rem;
    }
}
.portfolio-container{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    
    
    .portfolio-item{
        --x: 0;
        --y: 0;
        --scale:0;
        --em-spacing: 1em;

        width: 100%;

        padding: var(--em-spacing);
        opacity: 1;
       
        &__image{
            width: 100%;
           aspect-ratio: 1 / 1;
           background-color: var(--bg-light-30);
           line-height: 0;
           position: relative;
           opacity: 0.5;
           transform: skew(15deg, 5deg) scale(0.75);
           
           transition: all 0.4s ease-in-out;
           picture{
        
               width: 100%;
               height: 100%;
               object-fit: cover;
           }
        }
       //transform: translate(var(--x), var(--y)) scale(var(--scale));
       &__links{
            display: flex;
            gap: 1em;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            top: 4.8em;
            right: 0.2em;
            
            
            a{
                --clip-unit: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2em;
                height: 2em;
                color: var(--text-negative);
                background-color: var(--accent-color);
                border-radius: 3px 2px 5px 3px;
                filter: drop-shadow(3px 3px 0 var(--extra-dark-90));
                @extend .clip-right-bottom;
                
            }
       }
       &__date{
            position: absolute;
            display: inline-block;
            right: 0;
            top: 1.2em;
            font-size: 1.2em;
            padding: 0.5em 0.75em;
            background-color: var(--accent-color);
            color: var(--text-negative);
            font-weight: 700;
            filter: drop-shadow(3px 3px 0 var(--extra-dark-90));
            &::after, &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0.5em 0.5em 0 0;
                border-color: var(--accent-color) transparent transparent transparent;
                top: 100%;
                right: 0;
            }

       }
       &__content{
            padding: 1em;
            background-color: var(--bg-heavy-60);
            transform: translate(0.5em, -0.5em);
            border-radius: 10px 5px 20px 7px;
            filter: drop-shadow(3px 3px 0 var(--extra-dark-90));
            
            position: relative;
            @extend .clip-right-bottom;
       }
       &:hover{
        .portfolio-item__image{
            transform: skew(0deg, 0deg) scale(1);
            opacity: 1;
                .overlay{
                    opacity: 0;
                    
                }
            }
       }
    }
}