$sizing: (
    0: 0,
    'em-025': 0.25em,
    'em-05': 0.5em,
    'em-075': 0.75em,
    'em-1': 1em,
    'em-15': 1.5em,
    'em-2': 2em,
);
$directions: (
    't': top,
    'r': right,
    'b': bottom,
    'l': left,
    'block': block,
    'inline': inline,
);

@each $key, $value in $sizing {
    .m-#{$key} {
        margin: $value;
    }
    .p-#{$key} {
        padding: $value;
    }
    .gap-#{$key} {
        --em-spacing: #{$value};
        gap: $value;
    }
    .gap-y-#{$key} {
        row-gap: $value;
    }
    .gap-x-#{$key} {
        column-gap: $value;
    }
    @each $direction, $property in $directions {
        .m#{$direction}-#{$key} {
            margin-#{$property}: $value;
        }
        .p#{$direction}-#{$key} {
            padding-#{$property}: $value;
        }
    }
}