.svg-graph{
    &__border{
        stroke: var(--text-color-70);
        stroke-width: 2px;
        fill: var(--bg-heavy-70);
        
    }
    &__axis{
        stroke: var(--text-color);
        stroke-width: 1px;
        fill: none;
        opacity: 0.5;
    }
    .svg-graph__point{
        position: relative;
        circle{
            fill: var(--accent-color);
            &.area{
                fill: var(--bg-heavy-50);
            }
            
        }
        text{
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
            display: inline-block;
            fill: var(--white);
            text-shadow: 0 0 0.25em var(--bg-heavy-80);
        }
        &:hover{
            text{
                opacity: 1;
            }
        }
    }
    text{
        fill: var(--text-color);
        font-size: 50%;
        text-anchor: middle;
    }
    &__result{
        fill: var(--accent-color);
        opacity: 0.5;
    }
}