.svg-graph{
    &__border{
        stroke: var(--text-color);
        stroke-width: 2px;
        fill: var(--dark-glass);
    }
    &__axis{
        stroke: var(--text-color);
        stroke-width: 1px;
        fill: none;
        opacity: 0.5;
    }
    .svg-graph__point{
        position: relative;
        circle{
            fill: var(--accent-color);
            
        }
        text{
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
            display: inline-block;
            text-shadow: 0 0 0.5em var(--bg-dark);
        }
        &:hover{
            text{
                opacity: 1;
            }
        }
    }
    text{
        fill: var(--text-color);
        font-size: 50%;
        text-anchor: middle;
    }
    &__result{
        fill: var(--accent-color);
        opacity: 0.5;
    }
}