.heading{
    font-family: var(--font-heading);
    font-weight: 700;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .text-right{
    text-align: right;
  }
  .text-left{
    text-align: left;
  }
  .text-center{
    text-align: center;
  }
  .text-hero{
    font-size: clamp(2.5rem, calc(6vw + 1rem), 5.5rem);
    text-transform: uppercase;
    
  }
  .text-huge{
    font-size: clamp(2.5rem, calc(5vw + 1rem), 5.5rem);
    text-transform: uppercase;
    
  }
  .text-xlarge{
    font-size: clamp(1.25rem, calc(0.5vw + 1rem), 1.75rem);
  }
  .text-large{
    font-size: clamp(1.15rem, calc(0.15vw + 1rem), 1.25rem);
  }
  .body-text{
    font-size: clamp(1rem, calc(0.15vw + 1rem), 1.25rem);
  }
  .text-small{
    font-size: clamp(0.8rem, calc(0.15vw + 0.8rem), 1rem);
  }
  .text-half{
    font-size: 0.5em
  }
  
  .text-box{
    color: var(--bg-medium);
  }
  .lp-loose{
    letter-spacing: 0.05em;
  }
  .lh-tight{
    line-height: 1;
  }
  .lh-ultra-tight{
    line-height: 0.6;
  }
  .lh-loose{
    line-height: 1.5;
  }
  .lh-double{
    line-height: 2;
  }

  .text-box, .title-box > .title-inner{
    color: var(--text-negative);
    background-color: var(--text-color);
    padding-inline: 0.2em 0.1em;
    line-height: 1;
    display: inline-block;
    border-radius: var(--border-radius-large);
    letter-spacing: 0.05em;
    position: relative;
    &[data-variant*="accent-bg"]{
      background-color: var(--accent-color);
        
    }
    &[data-variant*="dark-bg"]{
      color: var(--text-color);
    }
    &[data-variant*="gradient"]:after{
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      background: linear-gradient(45deg, var(--black-30) 0%, transparent 10%, var(--white-20) 15%,transparent 25%, transparent 50%, transparent 70%,  var(--white-40) 80%, transparent 90%);
      border-radius: var(--border-radius-large);
    }
  }
  .title-box[data-variant*="accent-bg"] > .title-inner{
    background-color: var(--accent-color);
  }
  .carved{
    background-color: var(--bg-heavy);
    color: transparent;
    position: relative;
    text-shadow: 0.05em 0.05em 0.075em var(--extra-color-10);
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 2;
    
  }
  [data-variant*="center-line"]{
    overflow: hidden;
    text-align: center;
    
    span{
      position: relative;
      display: inline-block;
      padding: 0 0.5em;
      z-index: 1;
      &::before{
        content: "";
        position: absolute;
        height: 2px;
        width: 100vw;
        background-color: var(--accent-color);
        z-index: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 100%;
      }
      &::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 100vw;
        background-color: var(--accent-color);
        z-index: 0;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
      }
    }
   
    
  }
  [data-variant*="right-line"]{
    overflow: hidden;
    text-align: left;
    
    span{
      position: relative;
      display: inline-block;
      padding: 0 0.5em 0 0;
      z-index: 1;
      &::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 100vw;
        background-color: var(--accent-color);
        z-index: 0;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
      }
    }
   
    
  }
  [data-marker*="accent-color"]{
    li::marker{
      color: var(--accent-color);
    }
    
  }
  .content-text{
    max-width: 65ch;
  }

  strong{
    color: var(--accent-color);
  }
  
  h3:first-child{
    margin-top: 0;
  }
  .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  a{
    text-decoration: none;
  }
  p a{
    text-decoration: underline;
  }