.heading{
    font-family: var(--font-heading);
    font-weight: 700;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .text-right{
    text-align: right;
  }
  .text-left{
    text-align: left;
  }
  .text-center{
    text-align: center;
  }
  .text-hero{
    font-size: clamp(2.5rem, calc(6vw + 1rem), 5.5rem);
    text-transform: uppercase;
    
  }
  .text-huge{
    font-size: clamp(2.5rem, calc(5vw + 1rem), 5.5rem);
    text-transform: uppercase;
    
  }
  .text-xlarge{
    font-size: clamp(1.25rem, calc(0.15vw + 1.25rem), 2.5rem);
  }
  .text-large{
    font-size: clamp(1.15rem, calc(0.15vw + 1rem), 1.25rem);
  }
  .body-text{
    font-size: clamp(1rem, calc(0.15vw + 1rem), 1.25rem);
  }
  .text-small{
    font-size: clamp(0.8rem, calc(0.15vw + 0.8rem), 1rem);
  }
  .text-xsmall{
    font-size: clamp(0.7rem, calc(0.15vw + 0.6rem), 0.825rem);
  }
  .text-half{
    font-size: 0.5em
  }
  
  .text-box{
    color: var(--bg-medium);
  }
  .lp-loose{
    letter-spacing: 0.05em;
  }
  .lh-tight{
    line-height: 1;
  }
  .lh-ultra-tight{
    line-height: 0.6;
  }
  .lh-loose{
    line-height: 1.5;
  }
  .lh-double{
    line-height: 2;
  }

  
  .carved{
    background-color: var(--bg-heavy);
    color: transparent;
    position: relative;
    text-shadow: 0.05em 0.05em 0.075em var(--extra-color-10);
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 2;
    
  }
  
  [data-marker*="accent-color"]{
    li::marker{
      color: var(--accent-color);
    }
    
  }
  .content-text{
    max-width: 65ch;
  }

  strong{
    color: var(--accent-color);
  }
  
  h3:first-child{
    margin-top: 0;
  }
  
  a{
    text-decoration: none;
  }
  p a{
    text-decoration: underline;
    color: var(--extra-light);
  }
  .ellipsis {
    --ellipsis-lines: 1; /* number of lines to show */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--ellipsis-lines); /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }