@use 'sass:color';
@use 'sass:math';

$colors: (
  "black": #1C0D17,
  "deep-purple": #2E234C,
  "purple": #403980,
  "light-navy": #3B5883,
  "viridian": #408666,
  "green": #44B349,
  "bright-green": #5CFF23,
  "light-green": #c9fdb6,
  "nyanza": #E7FFE2,
  "white": #F4FCF3,
  "pink": #FF1493,
  "magenta": #9F1463,
);
:root{
  // Colors ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  @each $name, $color in $colors {
    --#{$name}: #{$color};

    @for $i from 0 through 9 {

      $transparency: rgba($color, calc($i * 0.1));

      --#{$name}-0#{$i}: #{$transparency};
    }
  }
 

  --black-transparent:#1C0D1700;
  --black-shadow:#1C0D1722;
  --black-glass:#1C0D1755;
  --purple-glass:#40398011;
  --pink-glass:#FF149311;
  --green-shadow:#c9fdb633;
  --green-transparent:#c9fdb600;
  --white-glass:#F4FCF355;
  --green-glass:#c9fdb655;

  --bg-dark: var(--black);
  --bg-light: var(--deep-purple);
  --bg-shadow: var(--black-02);
  --dark-glass: var(--black-04);
  --light-glass: var(--pink-01);
  --bg-transparent: var(--black-00);
  --text-color: var(--white);
  --text-negative: var(--black);
  --accent-color: var(--bright-green);
  --extra-color: var(--pink);

  @media screen and (prefers-color-scheme: light) {

    --bg-dark: var(--light-green);
    --bg-light: var(--white);
    --bg-shadow: var(--green-02);
    --bg-transparent: var(--green-00);
    --bg-glass: var(--white-04);
    --light-glass: var(--green-04);
    --text-color: var(--deep-purple);
    --text-negative: var(--white);
    --accent-color: var(--magenta);
    --extra-color: var(--viridian);
    
  }
  html[data-theme="light"]{
    --bg-dark: var(--light-green);
    --bg-light: var(--white);
    --bg-shadow: var(--green-02);
    --bg-transparent: var(--green-00);
    --bg-glass: var(--white-04);
    --light-glass: var(--green-04);
    --text-color: var(--deep-purple);
    --text-negative: var(--white);
    --accent-color: var(--magenta);
    --extra-color: var(--viridian);
  }
  html[data-theme="dark"]{
    --bg-dark: var(--black);
    --bg-light: var(--deep-purple);
    --bg-shadow: var(--black-02);
    --dark-glass: var(--black-04);
    --light-glass: var(--pink-01);
    --bg-transparent: var(--black-00);
    --text-color: var(--white);
    --text-negative: var(--black);
    --accent-color: var(--bright-green);
    --extra-color: var(--pink);
  }
  // Fonts ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --font-text: 'Roboto Mono', monospace;
  --font-heading: 'Rubik', sans-serif;

  // Spacing ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --spacing: 1rem;
  --spacing-small: 0.5rem;
  --spacing-large: 2rem;
  --em-spacing: 0em;

  // Utilities ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --border-radius: 0.15em 0.05 0 0.5em;
  --border-radius-small: 0.15em;
  --border-radius-large: 0.05em 0.1em  0.05em 0.2em;
  // Buttons ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --bg-button: transparent;
  --bg-button-hover: var(--bg-light);
  --bg-button-active: var(--accent-color);
  --button-border: 2px solid var(--accent-color);
  
}


