:root{
  // Colors ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --black:#1C0D17; //xiketic
  --deep-purple:#2E234C; //Russian Violet
  --purple:#403980; //Dark Slate Blue
  --light-navy:#3B5883; // Light Navy Blue
  --viridian:#408666; //Viridian Green
  --green:#44B349; //Green
  --bright-green:#5CFF23; //Bright Green
  --light-green:#c9fdb6; //Mint Green
  --nyanza:#E7FFE2; //Nyanza
  --white:#F4FCF3; //Honeydew

  --magenta :#9F1463; //Medium Red Violet


  --black-transparent:#1C0D1700;
  --black-shadow:#1C0D1722;
  --black-glass:#1C0D1755;
  --purple-glass:#40398011;
  --green-shadow:#c9fdb633;
  --green-transparent:#c9fdb600;
  --white-glass:#F4FCF355;
  --green-glass:#c9fdb655;

  --bg-dark: var(--black);
  --bg-light: var(--deep-purple);
  --bg-shadow: var(--black-shadow);
  --dark-glass: var(--black-glass);
  --light-glass: var(--purple-glass);
  --bg-transparent: var(--black-transparent);
  --text-color: var(--white);
  --text-negative: var(--black);
  --accent-color: var(--bright-green);

  @media screen and (prefers-color-scheme: light) {

    --bg-dark: var(--light-green);
    --bg-light: var(--white);
    --bg-shadow: var(--green-shadow);
    --bg-transparent: var(--green-transparent);
    --bg-glass: var(--white-glass);
    --light-glass: var(--green-glass);
    --text-color: var(--deep-purple);
    --text-negative: var(--white);
    --accent-color: var(--magenta);
    
  }
  html[data-theme="light"]{
    --bg-dark: var(--light-green);
    --bg-light: var(--white);
    --bg-shadow: var(--green-shadow);
    --bg-glass: var(--white-glass);
    --light-glass: var(--green-glass);
    --bg-transparent: var(--green-transparent);
    --text-color: var(--deep-purple);
    --text-negative: var(--white);
    --accent-color: var(--magenta);
  }
  html[data-theme="dark"]{
    --bg-dark: var(--black);
    --bg-light: var(--deep-purple);
    --bg-shadow: var(--black-shadow);
    --bg-glass: var(--black-glass);
    --light-glass: var(--purple-glass);
    --bg-transparent: var(--black-transparent);
    --text-color: var(--white);
    --text-negative: var(--black);
    --accent-color: var(--bright-green);
  }
  // Fonts ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --font-text: 'Roboto Mono', monospace;
  --font-heading: 'Rubik', sans-serif;

  // Spacing ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --spacing: 1rem;
  --spacing-small: 0.5rem;
  --spacing-large: 2rem;
  --em-spacing: 0em;

  // Utilities ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --border-radius: 0.15em 0.05 0 0.5em;
  --border-radius-small: 0.15em;
  --border-radius-large: 0.05em 0.1em  0.05em 0.2em;
  // Buttons ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  --bg-button: transparent;
  --bg-button-hover: var(--bg-light);
  --bg-button-active: var(--accent-color);
  --button-border: 2px solid var(--accent-color);
  
}


